.main {
    padding: 20px;
    width: 100%;
    height: fit-content;
    padding-bottom: 20vh;
    background-color: #eee;
    .title {
        text-align: center;
    }

    .payment {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5vh;
        margin-top: 5vh;
        .box {
            width: 100%;
            padding: 20px;
            background-color: black;
            color: white;
            border-radius: 5px;
            p {
                color: gray;
                font-size: 15px;

                span {
                    color: white;
                    font-size: 20px;
                    margin-left: 1vh;
                }
            }
        }
    }
}
